<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>imagetextButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE70FD621C3B7D8600540EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE70FD7B1C3B7D8700540EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE70FD861C3B7D8700540EE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
